body{width:99%;background:white;color:#333}
.slides{background:none;border:none;margin-top:0;box-shadow:none}
.slides article{display:block;border-top:none}
h1,h2,h3{color:black}
li:before{position:relative}
q::before,q::after{color:#999;position:relative}
a,a:visited,a:hover{color:blue}
.show-once{display:none}
.yellow{color:#C90!important}
